{% extends 'base.html' %}
{% block content %}
<h1>{{HP_data.placename}}</h1>
<img src="{{HP_data.image.url}}" width="400px">
<p>Address : {{HP_data.address}}</p>
<p>Phone : {{HP_data.phone}}</p>
<p>Rating : {{HP_data.rating}}</p>
{% if user.is_authenticated%}
<p><a href="{% url 'hotplist:new_review' HP_data.id %}"><button>리뷰 추가하기</button></a></p>
{%endif%}
<h2>리뷰</h2>
{% for review in Review_data%}
<ul>
    <p> Author : {{review.author}}</p>
    <p> Content : {{review.content}}</p>
    <p> Rating : {{review.rating}}</p>
    <p> Date : {{review.date}}</p>
</ul>
<br>
{%endfor%}
{%endblock%}