{% extends 'base.html' %}
{% block content %}
<img src = "{{HP_data.image.url}}" width="400px" style="border-radius:20px">
<p>{{HP_data.name}}</p>
<p>{{HP_data.rating}}</p>
<p>{{HP_data.address}}</p>
<p>{{HP_data.phone_num}}</p>
{% if user.is_authenticated %}
<p>작성자: <a href = "{% url 'hotplist:profile' HP_data.author.id%}">{{HP_data.author}}</a> </p>
{% else %}
<p>작성자: {{HP_data.author}}</p>
{% endif %}


{% if user.is_authenticated%}
{% if saved %}
<a href="{% url 'hotplist:comment_create' HP_data.id %}">
    <button>댓글 작성하기</button>
</a>
{% else %}
<a href = "{% url 'hotplist:save' HP_data.id %}">
    <button> 찜하기 </button>
<a href="{% url 'hotplist:comment_create' HP_data.id %}">
    <button>댓글 작성하기</button>
</a>
{% endif %}
{% endif %}


{% for items in Review_data.all%}
<li> 
    {{items.content}}
    
    {{items.rating}}

    {{items.pub_date}}

    {{items.author}}

    {% if request.user == items.author%}
    <a href = "{% url 'hotplist:comment_edit' items.id %}">
        <button> 수정</button>
    </a>
    <a href = "{% url 'hotplist:comment_delete' items.id %}">
        <button> 삭제 </button>
    </a>
    {% endif %}
</li>
{% endfor %}
{% endblock %}