{% extends 'base.html' %}
{% block content %}
<h1>Techer H-Team 맛집게시판</h1>
{% if user.is_authenticated%}
<h3>Welcome, {{user.username}}</h3>
<br>
<a href = "{% url 'hotplist:profile' %}">
    <button> 내 프로필 </button>
</a>
<a href = "{% url 'hotplist:logout' %}">
    <button>로그아웃</button>
</a>

<a href = "{% url 'hotplist:create'%}">
    <button>맛집 추가하기</button>
</a>

{% else %}
<a href = "{% url 'hotplist:login' %}">
    <button>로그인</button>
</a>
<a href = "{% url 'hotplist:signup' %}">
    <button>회원가입</button>
</a>
{% endif %}

{%for items in list%}
<li>
   <a href = "{% url 'hotplist:details' items.id%}"> {{items.name}} {{items.rating}}</a>
</li>
{% endfor %}

<!-- 페이징처리 -->
<ul>
    {% if list.has_previous %}
    <a href="?page={{list.previous_page_number}}">이전</a>
    {% endif %}

    {% for page_number in list.paginator.page_range%}
    {% if page_number >= list.number|add:-5 and page_number <= list.number|add:5 %}
    {% if page_number == list.number%}
    <li>
    <a href = "?page={{page_number}}">{{page_number}}</a>
    </li>
    {% else %}
    <li>
        <a href = "?page={{page_number}}">{{page_number}}</a>
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}

    {% if list.has_next %}
    <a href = "?page={{list.next_page_number}}">다음</a>
    {% endif %}
</ul>




{%endblock%}